/* font face */
/* latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
		url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Poppins Regular'), local('Poppins-Regular'),
		url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
		url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* font face */

/* body */

body {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	width: 1440px;
	height: auto;
	text-align: center;
	padding: 5% 10% 0;
	margin: 0 auto;
	background-color: hsl(0, 0%, 98%);
}

h1 {
	font-size: 3em;
	color: hsl(229, 6%, 66%);
	padding-bottom: 2%;
}

h2 {
	font-size: 3.5em;
	font-weight: bold;
	color: hsl(234, 12%, 34%);
	padding-bottom: 2%;
}

h3 {
	font-size: 2em;
	font-weight: bold;
	color: hsl(234, 12%, 34%);
	padding-bottom: 3.5%;
}

p {
	color: hsl(229, 6%, 66%);
	font-size: 1.3em;
	width: 90%;
	padding-bottom: 3%;
}

/* main */

.information p {
	font-size: 1.8rem;
	width: 50%;
	margin: 0 auto;
	line-height: 1.5;
}

/* information */

/* .information {
    padding-bottom: 8%;
} */

/* information */

/* box-container */

.box-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: auto;
}

.box {
	width: 30rem;
	height: 20rem;
	background-color: white;
	/* flex-grow: 1; */
	margin: 1.5rem;
	border-radius: 0.3rem;
	text-align: none;
	padding: 2rem;
	text-align: left;
	z-index: 3;
	box-shadow: 0.5px 0.5px 5px 1px gray;
}

.box figure {
	width: 100%;
	text-align: right;
	/* display: inline-block;
    text-align: right;
    margin: 0 0 0 auto; */
}

.box p {
	line-height: 1.5;
	padding-bottom: 10%;
}

.supervisor-box {
	border-top: 0.4rem solid hsl(180, 62%, 55%);
}

.team-builder-box {
	border-top: 0.4rem solid hsl(0, 78%, 62%);
	margin-bottom: 2.5rem;
}

.karma-box {
	border-top: 0.4rem solid hsl(34, 97%, 64%);
}

.calculator-box {
	border-top: 0.4rem solid hsl(212, 86%, 64%);
}

.center-box {
	display: flex;
	flex-direction: column;
	/* width: 35rem; */
}

/* box-container */

/* main */

/* footer */

footer {
	padding: 2rem 0;
}

.attribution {
	font-size: 1.5rem;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	padding-bottom: 0;
}

.attribution a {
	font-size: 1.1rem;
	text-decoration: none;
	color: hsl(228, 45%, 44%);
}

/* footer */

/* body */

/* media query for max-width: 375px */

@media only screen and (max-width: 380px) {
	body {
		width: 375px;
		margin: 0 auto;
		padding: 15% 3% 0;
	}

	h1 {
		font-size: 2.3em;
		padding-bottom: 5%;
	}

	h2 {
		font-size: 2.4em;
		padding-bottom: 8%;
	}

	.information {
		width: 30rem;
		margin: 0 auto;
	}

	.information p {
		width: 100%;
		font-size: 1.5em;
		padding-bottom: 10%;
	}

	.content-box {
		width: 30rem;
	}

	.attribution {
		font-size: 1.1rem;
		width: 100%;
	}
}

/* media query for max-width: 375px */
